$margin: 60px;
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $margin;
  min-height: calc(100vh - #{$margin * 2});
  text-align: center;
  background-image: linear-gradient(0deg, #6ed4fb 0%, #fff 70%);
  .middle,
  .bottom {
    z-index: 1;
  }
  .middle {
    align-self: center;
    width: 412px;
  }
  @media screen and (max-width: 600px) {
    .middle {
      width: 68.5vw;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: $margin;
    position: relative;
    img {
      height: 64px;
    }
    @media screen and (max-width: 600px) {
      & {
        display: grid;
        justify-content: center;
        row-gap: $margin/2;
      }
    }
  }
  $opacity: 0.1;
  .poly-bg-wrapper {
    padding-top: $margin;
    margin-bottom: -$margin;
    .congruent-triangles {
      margin: 0 -$margin;
      width: calc(100% + #{$margin * 2});
      height: calc(100vh - #{$margin * 2});
      margin-top: calc(-100vh + #{$margin * 2});
      opacity: $opacity;
      background-color: $main-blue;
      clip-path: polygon(
        100% 100%,
        100% calc(70% - 30vw),
        62% 100%,
        38% 100%,
        0 calc(70% - 30vw),
        0 100%
      );
    }
    .middle-triangle {
      opacity: $opacity;
      background-color: $main-blue;
      margin-left: -$margin;
      margin-right: -$margin;
      width: calc(100% + #{$margin * 2});
      height: calc(100vh - #{$margin * 2});
      margin-top: calc(-100vh + #{$margin * 2});
      clip-path: polygon(50% calc(85% - 30vw), 5% 100%, 95% 100%);
    }
  }
}
