$margin: 65px;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $margin;
  min-height: calc(100vh - #{$margin * 2});
  text-align: center;
  background-image: linear-gradient(
    0deg,
    rgb(147, 223, 255) 0%,
    rgb(255, 255, 255) 90%
  );
  .middle,
  .bottom {
    z-index: 1;
  }
  .middle {
    align-self: center;
    width: 450px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    img {
      height: 70px;
    }
  }
  .poly-bg-wrapper {
    padding-top: $margin;
    margin-bottom: -$margin;
    .congruent-triangles {
      margin: 0 -$margin;
      width: calc(100% + #{$margin * 2});
      height: calc(100vh - #{$margin * 2});
      margin-top: calc(-100vh + #{$margin * 2});
      opacity: 0.5;
      background-color: #9bd6f1;
      clip-path: polygon(
        100% 100%,
        100% calc(70% - 30vw),
        62% 100%,
        38% 100%,
        0 calc(70% - 30vw),
        0 100%
      );
    }
    .middle-triangle {
      opacity: 0.7;
      background-color: #9bd6f1;
      margin-left: -$margin;
      margin-right: -$margin;
      width: calc(100% + #{$margin * 2});
      height: calc(100vh - #{$margin * 2});
      margin-top: calc(-100vh + #{$margin * 2});
      clip-path: polygon(50% calc(85% - 30vw), 5% 100%, 95% 100%);
    }
  }
}
